*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.result{
    height: 30px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.gameContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 500px;
    width: 500px;
    gap: 4px;
}
.cell{
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
}
.cell:hover{
    background-color: rgb(243, 243, 243);
}

@media screen and (max-width:580px){
    .gameContainer{
        height:400px;
        width:400px;
        font-size: 80px;
    }
    .cell{
        font-size: 80px;
    }
}
@media screen and (max-width:500px){
    .gameContainer{
        height:300px;
        width:300px;
    }
    .cell{
        font-size: 60px;
    }
}
@media screen and (max-width:330px){
    .gameContainer{
        height:200px;
        width:200px;
    }
    .cell{
        font-size: 40px;
    }
}